[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitlogstats = {editable = true, path = "."}

[dev-packages]
build = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
